@{
    ViewData["Title"] = "Confirmação de apagar o contato";
}
<div class="text-center">
    <h3>Deseja realmente apagar o contato(Renan Arthur)</h3>
</div>

<div class="text-center">
    <a class="btn btn-primary d-grid gap-2 d-md-flex justify-content-md-center" role="button" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger d-grid gap-2 d-md-flex justify-content-md-center" role="button">Confirmar exclusão</a>
</div>   